<footer
  class="fixed bottom-0 flex px-6 items-center justify-center text-slate-500 md:justify-start w-full border-black h-[4rem] dark:bg-zinc-900 dark:text-slate-100">
  <p class="text-sm font-semibold">© EL 2024</p>
</footer>
