<footer
  class="fixed bottom-0 flex px-6 items-center justify-center text-black md:justify-start w-full h-[4rem] dark:bg-zinc-900 dark:text-slate-200">
  <p class="text-sm font-semibold">© EL 2024</p>
</footer>
